
*{
  background-color: rgb(219,219,246);
}
.container{
  display: flex;
 margin-top: 150px;
 align-items: center;
 justify-content: space-evenly;
  
}

.main-heading {
  color: blue;
  font-size: 50px;
  font-weight: 600;
}
.about-fb{
  font-size: 25px;
  width: 50%;
}

.text-field{
  margin-bottom: 25px;
}

.input-form{
  background-color: aliceblue;
  /* height: 50vh; */
  padding: 40px;
}

.outlined-basic{
  width: 300px;
 
}

.btn{
  width: 53%;

}